/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	background-color: #fffded;
	width: 800px;
	margin: 0 auto;
	border: 3px solid #931420;
}
.shadow {
	text-shadow: 1px 1px 1px #800000;
}

/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100% );
}
header img {
	float: left;
	padding: 0 30px;
}
header h2 {
	font-size: 170%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}

/* the styles for the section */
main {
	clear: left;
}

#nav_menu ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	display: block;
	width: 160px;
	padding: 1em 0;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #800000;

}
/* Submenu is not displayed until cursor hovers over it */
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
/* Submenu items will NOT float, must display vertically under supermenu */
#nav_menu ul ul li {
	float: none;
}
/* Set HOVER psuedoselector for each li that has a child ul */
#nav_menu ul li:hover > ul {
	display: block;
	content: "";
	display: block;
	clear: both;
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

section {
	width: 525px;
	padding: 0 20px 20px 20px;
	float: right;
}
aside {
	width: 215px;
	padding: 0 0 20px 20px;
	float: right;
}
section h2, aside h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}
section h3, aside h3 {
	font-size: 105%;
	padding: 0 0 .25em 0;
}
section p {
	padding: 0 0 .5em 0;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
section article h2 {
	padding-top: 0;
}
section article img {
	float: right;
	margin: 1em;
	border: 1px solid black;
}
section article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section ul li {
	padding: 0 0 .35em 0;
}
aside img {
	padding: 0 0 1em 0;
}
a:hover {
	font-style: italic;
}

/* the styles for the footer */
footer {
	border-top: 3px solid #931420;
	text-align: center;
	color: white;
	background-color: #931420;
	clear: both;
	overflow: auto;
}
footer p {
	padding: .5em 0;
}
footer img {
	float: right;
}

